[AWS]

aws_access_key_id= Your aws access key
aws_secret_access_key= your aws secret key
bucket = bucket name which u created to store the files

[Redshift]
host_name = redshift endpoint
port=5439
database= your redshift database name
user= awsuser
password= your user paasword
iam_role_arn = iam_role of redshift cluster

[local]

path_data = /opt/airflow/data/uber_data.csv
